body {
  margin: 0;
  background-color: black;
  color: white;
}

.inst {
  position: absolute;
  right: 0;
  top: 25px;
}

.diff {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 6%;
}

#pause {
  position: absolute;
  right: 25%;
  top: 25px;
  color: #ff7315;
}

#pause:hover {
  color: white;
  cursor: pointer;
}

#end {
  position: absolute;
  top: 0;
  left: 45%;
  display: none;
}
